.grid_container
{
    font-family: Tahoma;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 37% 63%;
    gap: 0px 0px;
    grid-template-areas:
      "profile chat"
      "userlist chat";
    height: 500px;
}

.grid_profile
{
    font-family: Tahoma;
    grid-area: profile;
    /* border: 1px solid blue; */
}
.so_button
{
    text-align: center;
}
.grid_userlist
{
    font-family: Tahoma;
    grid-area: userlist;
    /* border: 1px solid black;
    vertical-align: middle; */
}
.grid_chat
{
    text-align: center;
    font-family: Tahoma;
    grid-area: chat;
    background-image: url("../pic/ChatBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .pagination-sm
{
    color:rgb(90, 2, 90);
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
    list-style-type: none; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0px;
    padding-left: 0px;
    border-style: groove;
} */

.first_div
{
    border: 1px solid crimson;
    text-align: center;
    grid-area: chat;
    background-image: url("../pic/ChatBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.second_div
{
    position: relative;
    top: 50px;
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid green;
    background-color: rgb(90, 2, 90);
}
.third_div
{
    position: relative;
    top: 65px;
    width: 70%; 
    height: 70%;
    margin: auto;
    border: 1px saddlebrown;
    background-color: white;
}

.userlist
{
    width: 100%; 
    height: 70%;; 
    overflow-y: scroll; 
    text-align: justify; 
}

#showHistory
{
    width: 100%; 
    height: 100%;; 
    overflow-y: scroll; 
    text-align: justify; 
    
}

/* width */
::-webkit-scrollbar 
{
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb 
{
    background:  rgb(90, 2, 90);
    border-radius: 10px;
}

@media (max-width: 875px)
{
    .grid_container
    {
        display: flex;
        height: auto;
        flex-direction: column;
        width: auto;
        font-size: smaller;
    }
    .userlist
    {
        font-size: smaller;
        height: 150px;
    }
    .first_div
    {
        position: static;
        top: 0px;
        margin: 0px;
        width: 100%;
        height: 330px;
        background-color: white;
    }
    .second_div
    {
        position: static;
        top: 0px;
        margin: 0px;
        width: 100%;
        height: 295px;
        background-color: white;
    }
    .third_div
    {
        position: static;
        top: 0px;
        margin: 0px;
        width: 100%;
        height: 265px;
        background-color: white;
    }
}