<html>
<head>
	<title>Golan ChatRoom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/validation.js"></script>
	<?php
		if (basename($_SERVER['PHP_SELF']) == 'index.php' || basename($_SERVER['PHP_SELF']) == 'register.php')
			echo '<link rel="stylesheet" href="css/login.css" />';
		else
			echo '<link rel="stylesheet" href="css/page.css" />';
	?>
</head>
<body>

<div class="header">
	<img class="imgheader" src="pic/golan1.png"/>
</div>
<div class="Section">