<div class="grid_profile">
    <p><b><?php echo $WelcomeMessage; ?></b></p> 
    <fieldset style="width: auto; height: auto;" > 
        <legend style="color:rgb(90, 2, 90);"><b>Your Profile</b></legend> 
        <label><b>Name:</b> <?php echo $utemp[0]; ?></label>
        <br> 
        <label><b>Family:</b> <?php echo $utemp[1]; ?></label>
        <br> 
        <label><b>Email:</b><?php echo $utemp[2]; ?></label>
        <br> 
    </fieldset> 
    <div class="so_button">
        <button style=" position: relative; top: 5px; left: 2px; width: auto; height: auto; margin-bottom: 5px; " onclick="location.href='index.php'">Sign Out</button>
    </div>
</div>