<script src="js/angular/angular.js"></script>
<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/userlist.js"></script>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/jquery/jquery-ui.min.js"></script>
<script src="js/angular/angular-resource.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<div class="grid_userlist">
    <fieldset style="width: auto; height: auto;" >
        <legend style="color:rgb(90, 2, 90);"><b>User List</b></legend>
        <div ng-app="UsersListApp">
            <input type="text" placeholder="Search..." ng-model="searchData" class="form-control" style="width: 100%; font-family: Tahoma;"/>
            <!--<input type="text" placeholder="Search on Name" ng-model="searchData.name" class="form-control" />-->
            <form method="post" action="chatroom.php">
                <div ng-controller="UsersListController">
                    <table class="userlist_pagination">
                        <tr style="text-align: left;">
                            <th>Username</th>
                            <th>Name</th>
                            <th>Family</th>
                        </tr>
                        <tr ng-repeat="r in lst | filter : paginate | filter : searchData">
                            <td><input type="submit" name="uiSendto" value={{r.username}} style="width: 100%; cursor:pointer;"></td>
                            <td><a class="width100">{{r.name}}</a></td>
                            <td><a class="width100">{{r.family}}</a></td>
                        </tr>
                    </table>
                </div>
            </form>
            <div style="text-align:center" ng-show="showLoader">
                Loading...
            </div>
            <pagination class="pagination" total-items="totalItems" ng-model="currentPage"
                        max-size="5" boundary-links="true"
                        items-per-page="numPerPage" class="pagination-sm">
            </pagination>
            <!-- <p>Total number of users: {{totalItems}}</p> -->
        </div>
    </fieldset>
</div>